{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <h1>Smart Emission - Administration</h1>
    <p>
        Below links to admin functions.
    </p>

    <h2>Hosting</h2>
    <ul>
        <li><a href="/kubernetes-dashboard">Kubernetes Dashboard</a></li>
    </ul>

    <h2>Databases</h2>
    <ul>
        <li><a href="/phppgadmin/">Postgres Database Admin</a></li>
        <li><a href="/chronograf">InfluxDB Admin: via Chronograph</a></li>
    </ul>

    <h2>Services</h2>
    <ul>
        <li><a href="/geoserver/web">GeoServer Admin</a></li>
        <li><a href="/sos52n">SOS 52North Admin</a></li>
        <li><a href="/grafana/">Grafana Admin</a></li>
        <li><a href="/gostdashboard/">GOST Dashboard</a></li>
    </ul>

    <h2>Logs</h2>
    <ul>
        <li><a href="/kibana">Kibana</a></li>
    </ul>
    
    <h2>Calibration</h2>
    <ul>
        <li><a href="/calibration">calibration result images</a></li>
    </ul>

    <!-- <h2>Monitoring</h2>
    <ul>
        <li><a href="/adm/grafanamon/dashboard/db/docker-dashboard">Grafana Monitoring - Docker Stats</a></li>
        <li><a href="/adm/grafanamon/dashboard/db/node-exporter-full">Grafana Monitoring - Ubuntu Stats</a></li>
        <li><a href="/adm/prometheus/">Prometheus metrics collection</a></li>
        <li><a href="/adm/cadvisor/containers/">cAdvisor Docker stats</a></li>
    </ul> -->

</div>
{% endblock %}
